/* custom.css by spencer smith
 * for use on wikipedia and other wikimedia commons websites
 * kopimi */ 
body
{
	background-color: #000000!important;
	color: #e6e6e6!important;
	font-family: "Space Mono for Powerline", monospace!important;
	font-style: italic!important;
}
.MainPageBG
{
	background-color: #000000!important;
}
h1, h2, span, p, #siteSub, a, code, pre
{
	font-family: "Space Mono for Powerline", monospace!important;
	font-style: italic!important;
}
div, table
{
	background-color: #000000!important;
	color: #e6e6e6!important;
}
a, .toctogglelabel, .glossary-link-internal, code, #searchInput, .button
{
	color:#52d053!important;
}
.glossary-link-internal
{
	border-bottom: 1px dashed #40304f!important;
}
.infobox th div, .button
{
	background-color: #261D2F!important;
}
h2[id^="mp-"], th
{
	border: 1px solid #261D2F!important;	
	background-color: #261D2F!important;
	color: #e6e6e6!important;
}
main, header, code, ul, li, td, #searchInput, pre
{
	background-color: #000000!important;
}
#mw-content
{
	border: solid 1px #261D2F!important;
}
#mw-footer-container, .ts-container
{
	border-top: solid 1px #261D2F!important;
}
.selected, .firstHeading
{
	border-bottom: 4px solid #261D2F!important;
}
.tocnumber, td, pre
{
	color: #e6e6e6!important;
}
img
{
	background-color: #e6e6e6!important;
}
.branding-box a span img
{
	filter: invert(1);
}
